<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Frameworks">
  <test name="hybrid">
    <classes>
       <class name="DriverFactory.DriverScriptHybrid"/>
          </classes>
  </test> <!-- datadriven -->
  <test name="keyword">
    <classes>
       
          <class name="DriverFactory.DriverScriptKeyWord"/>
    </classes>
  </test> <!-- datadriven -->
  <test name="datadriven">
    <classes>
       <class name="DriverFactory.DataDrivenFramework"/>
      
    </classes>
  </test> <!-- datadriven -->
</suite> <!-- Frameworks -->
